

@media screen and (max-width:767px){
    /*Barra de navegacion*/
    .barra-navegacion{
        position: absolute;
    }
    .barra-navegacion > div a{
        color: #fff;
    }
    .barra-navegacion > div a:nth-child(1){
        color: #fff;
    }
    .barra-navegacion h1{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-60%,0);
    }
    .barra-navegacion div{
        position: absolute;
        top: 50px;
        left: 50%;
        transform: translate(-50%,0);
    }

    /*hero*/
    .hero > div > h1{
        font-size: 30px;
    transform: translateY(170px);
    }
    .hero > div > p{
        transform: translateY(200px);
        color: #3e5897;
    }

}