*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}
/*barra de navegacion*/
.barra-navegacion{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    z-index: 10;
}
.barra-navegacion > h1{
    margin: 0 0 0 30px;
    font-size: 20px;
    color: #4b5a67;
}
.barra-navegacion > div{
    display: flex;
    gap: 60px;
    margin: 0 40px 0 0;
}
.barra-navegacion > div a{
    text-decoration: none;
    color: #4f4f4f;
    font-size: 13px;
    position: relative;
    text-shadow: 0 0 10px #ffffff33;
}
.barra-navegacion > div a:nth-child(1){
    color: #000;
}
.barra-navegacion > div a::before{
    position: absolute;
    content: '';
    height: 2px;
    width: 3px;
    background: #fff;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: .6s ease;
}
.barra-navegacion > div a:hover::before{
    opacity: 1;
    width: 40px;
}

/*hero*/
.hero{
    height: 100vh;
    width: 100%;
}
.overlay{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    mix-blend-mode: overlay;
    opacity: .5;
}
.hero > div{
    height: 100%;
    width: 100%;
    position: relative;
    background-image: url("../Resource/wallpaper/3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}
.hero > div > h1{
    font-size: 50px;
    transform: translateY(130px);
    text-align: center;
    color: #4b5a67;
}
.hero > div > p{
    transform: translateY(150px);
    text-align: center;
    color: #5a6d7d;

}
.Redes-sociales-esquina{
    position: absolute;
    right: 10px;
    bottom: 40px;
    height: 90px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.Redes-sociales-esquina a{
    font-size: 20px;
    color: #fff;
}