@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto/Roboto.ttf) format(truetype);
}

@font-face {
    font-family: 'PTMono-Regular';
    src: url(fonts/PT_Mono/PTMono-Regular.ttf) format(truetype);
}